<ion-view view-title="Home">
  <ion-header-bar>
    <h1 class="title">Home</h1>
  </ion-header-bar>
  <ion-content>
    <h1>Nice Finds Application</h1>
    <p>Application where people can record items they found in the real world. Whether it be a collectible item at a garage sale,
    a $100 bill, a special spot, or anything important to you. Record it here to track it. You can even share it with the world.</p>
  </ion-content>
</ion-view>
